@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
td {
     font-size: 10px;
 }

 .green-arrow {
     background: greenyellow !important;
     color: white;
 }

 th {
     color: #666;
     font-weight: 500;
     font-size: 8px;

     padding: 3px;
     width: 5% !important;
 }

 thead input {
     width: 80%;
     padding: 1px;
     box-sizing: border-box;
 }

 div.container {
     width: 70%;
 }

 .table.dataTable thead>tr>th.sorting_asc,
 table.dataTable thead>tr>th.sorting_desc,
 table.dataTable thead>tr>th.sorting,
 table.dataTable thead>tr>td.sorting_asc,
 table.dataTable thead>tr>td.sorting_desc,
 table.dataTable thead>tr>td.sorting {
     padding-right: 10px;
 }

 .table>tbody>tr>td,
 .table>tbody>tr>th,
 .table>tfoot>tr>td,
 .table>tfoot>tr>th,
 .table>thead>tr>td,
 .table>thead>tr>th {
     padding: 10px 3px;
 }

 th i.sort-by {
     padding-right: 18px;
     position: relative;
 }

 i.sort-by:before,
 i.sort-by:after {
     border: 4px solid transparent;
     content: "";
     display: block;
     height: 0;
     right: 5px;
     top: 50%;
     position: absolute;
     width: 0;
 }

 i.sort-by:before {
     border-bottom-color: #666;
     margin-top: -9px;
 }

 i.sort-by:after {
     border-top-color: #666;
     margin-top: 1px;
 }

 @media (min-width: 992px) {
     .col-md-11 {
         width: 88.666667%;
     }
 }

